$white: #FAFAFA;
$emerald: #4C9C95;
$sky: #8CABBD;
$goose: #737E6D;
$haze: #35333D;

$facebook: #3b5998;
$twitter: #00b6f1;
$instagram: #c32aa3;
$youtube: #ff0000;
$pinterest: #cb2027;
$google: #df4a32;
$linkedin: #007bb6;
$snapchat: #fffc00;
